.vs
packages
Proyecto/obj/Debug/Proyecto.vbprojAssemblyReference.cache
Generador QR.sln
bin
obj
Proyecto/bin/Debug/Generador QR.application
 Proyecto/bin/Debug/Generador QR.application
Proyecto/bin/Debug/Generador QR.exe
Proyecto/bin/Debug/Generador QR.exe.manifest
Proyecto/bin/Debug/Generador QR.pdb
Proyecto/bin/Debug/app.publish/Generador QR.exe
Proyecto/obj/Debug/Generador QR.application
Proyecto/obj/Debug/Generador QR.exe
Proyecto/obj/Debug/Generador QR.exe.manifest
Proyecto/obj/Debug/Generador QR.pdb
Proyecto/obj/Debug/Proyecto.vbprojAssemblyReference.cache
modified:   Proyecto/obj/Debug/Proyecto.vbprojAssemblyReference.cache